@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-primary{
  @apply bg-white text-gray-600 dark:bg-gray-600 dark:text-gray-100 duration-300;
}


.btn-primary {
  @apply text-gray-600 bg-white dark:bg-gray-600 dark:text-white rounded-md duration-300;
}

.btn-primary-full {
  @apply text-gray-600 bg-white dark:bg-gray-600 dark:text-white rounded-full duration-300;
}

.flex-center{
  @apply flex justify-center items-center
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    height: 6px;
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }


/* Navbar 為了在Safari上也能有glassmorphism效果 */
  .forNavbar {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* 添加WebKit前綴 */
  }